# Konfigurasi Database (Railway akan mengisi ini secara otomatis)
DATABASE_URL=sqlite:///./database.db

# Kunci Keamanan (PENTING: Jangan gunakan kunci ini di produksi)
SECRET_KEY=SCOC_SECRET_KEY_V2_CHANGE_ME_IN_PRODUCTION
ALGORITHM=HS256

# Konfigurasi Scanner
SCANNER_API_KEY=SCOC-PROD-2026-KEY
SCAN_INTERVAL=10
